body{
  background-color: bisque;
}
h1{
  text-align: center;
  color: black;
  margin-top: 50px;
}
.screen{
  background-color: white;
  border: solid black 1.5px;
  color: black;
  font-size: medium;
  width: 100%;
  cursor: default;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
}
input[type='button']:hover{
 background-color: white;
 border: 1px solid black;
}
input[type='button']:active{
  background-color: orange;
}
.operator{
  background-color: orange;
  padding: 5px;
  color: black;
  border: 1px solid black;
  width: 100%;
  height: 30px;
  cursor: pointer;
  font-size: medium;
}
.number{
  padding: 5px;
  height: 30px;
  color: black;
  border: 1px solid black;
  width: 100%;
  cursor: pointer;
}
.decimal{
  background-color: white;
  padding: 5px;
  color: black;
  border: 1px solid black;
  width: 100%;
  height: 30px;
  cursor: pointer;
  font-size: medium;
}
.clear{
  background-color: orange;
  padding: 5px;
  color: black;
  border: 1px solid black;
  width: 100%;
  height: 40px;
  cursor: pointer;
  font-size: medium;
  margin: auto;
  margin-bottom: 10px;
}
.equal{
  background-color: lightgrey;
  padding: 5px;
  color: black;
  border: 1px solid black;
  width: 100%;
  height: 30px;
  cursor: pointer;
  font-size: medium;
}
.container{
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 40%;
display: block;
align-self: center;
margin: 10px auto;
border-radius: 10px;
box-shadow: 5px 10px 20px black;
padding: 15px;
}
table{
  width: 100%;
}