body{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
h1{
  font-size: 50px;
}
.mainClass{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.product{
  width: 300px;
  padding-top: 20px;
}
.product .product-title{
  font-weight: bold;
 font-size: 20px;
}
img{
  width: 180px;
}